/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* /RESET */

/* COMMON */
html{
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

.inherit a{
    color: inherit;
    text-decoration: none;
}

.flex-container{
    display: flex;
}

.jc-btw{
    justify-content: space-between;
}

.ai-center{
    align-items: center;
}

.big-container{
    width: 80%;
    margin: 0 auto;
}

.small-container{
    width: 70%;
    margin: 0 auto;
}
/* /COMMON */

/* HEADER */

/* header-top */
.header-top{
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    /* debug */
    background-color: red;
}

.logo{
    width: 15%;
    
    /* debug */
    background-color: blue;
}

.header-button{
    width: 5%;
    text-align: right;
    /* debug */
    background-color: violet;
}

.header-top nav{
    width: 80%;

    /* debug */
    background-color: aqua;
}

.header-top nav ul li{
    display: inline-block;
}
/* header-top */

/* jumbotron */
.jumbotron{
    padding-top: 180px;
    /* debug */
    background-color: bisque;
    height: 500px;
}

.jumbo-col-txt{
    width: 40%;

    /* debug */
    background-color: cadetblue;
}

.jumbo-col-img{
    width: 60%;

    /* debug */
    background-color: yellow;
}
/* /jumbotron */
/* /HEADER */

/* MAIN */

/* /MAIN */
main{
    /* debug */
    background-color: lightgreen;
}

.row{
    align-content: flex-start;
    flex-wrap: wrap;
}

.col{
    width: calc(100% / 3 - 50px);

    /* debug */
    background-color: lightcoral;
    margin-bottom: 50px;
}

.col-big{
   
    /* debug */
    background-color: lightcoral;
}

/* Section-2 */
.partners{
    /* debug */
    background-color: lightgray;
}

.partners-img{
    width: 60%;
    /* debug */
    background-color: lightpink;
}

.partners-txt{
    width:40%;
    /* debug */
    background-color: blueviolet;
}