/* VAR */
:root{
    /* color */
    --sky-blue: #0093ce;
    --light-blue: #b4d0e7;
    --blue: #0061ff;
    --dark-blue: #0d2481; 

    --green: #a2d39b;
    --light-green: #d1e9cd;

     --red: #d5001f;
     --bordeaux: #61082b;
     --orange: #ff1c1c;  

     --yellow: #ffd830;

     --off-white: #f5f5f5;
     
     /* distances */
     --to-sections: 6.25em;
     --to-items: 3.125em;

     --to-section-px:100px;
     --to-items-px: 50px;

     /* border */
     --border-trasparency: 1px solid rgba(0, 0, 0, 0.2)
}
/* VAR */

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* /RESET */

/* COMMON */
html{
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

.big-container{
    width: 75%;
    max-width: 1700px;
    margin: 0 auto;
}

.small-container{
    width: 65%;
    max-width: 1500px;
    margin: 0 auto;
}

.inherit a{
    color: inherit;
    text-decoration: none;
}

.flex-container{
    display: flex;
}

.jc-btw{
    justify-content: space-between;
}

.ai-center{
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}

button{
    display: inline-block;
    border: none;
    font-size: .9rem;
}

.btn-big{
    padding: 15px 20px;
}

.btn-small{
    padding: 8px 17px;
}

.button-blue{
    background-color: var(--blue);
    color: white;
}
/* /COMMON */

/* HEADER */

/* header-top */
.header-top{
    height: 80px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.logo{
    width: 10%;
    padding-left: 20px;
}

.logo img{
    vertical-align: middle;
}

.header-top nav{
    width: 85%;
}

.header-top nav ul li{
    display: inline-block;
    margin: 0 1em;
}

.header-button{
    width: 5%;
    text-align: center;
}

.header-button button{
    font-size:1rem
}
/* header-top */

/* jumbotron */
.jumbotron{
    padding-top: 180px;
    background-color: var(--light-blue);
}

h1{
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: var(--to-items-px);
}

.jumbo-col-txt{
    width: 35%;
}

.jumbo-col-txt button{
    margin: 1.875em 0;
}

.jumbo-col-txt i{
    font-size: 3.5rem;
    margin-top: var(--to-items-px);
    margin-bottom: 10px;
}

.jumbo-col-img{
    width: 65%;
    position: relative;
}

.jumbo-img{
    position: absolute;
    top: 0;
    left: 0;
}
/* /jumbotron */
/* /HEADER */

/* MAIN */

.col{
    width: calc(100% / 3 - 50px);
    margin-bottom: var(--to-items);
}

.col-big{
    margin-bottom: var(--to-sections);
}

.col-60{
    width: 60%;
}

.col-40{
    width: 40%;
}

/* Section-Plane */
.choose-price{
    margin-top: 12.5em;
}

.card-plane{
    font-size: .9rem;

}

.choose-price>h2{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: var(--to-items-px);
}

.radio-box label{
    display: inline-block;
    margin-right: var(--to-items);
    margin-bottom: var(--to-items);
}

input[type="radio"]{
    appearance: none;
    width: 1.2em;
    height: 1.2em;
    border:2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    vertical-align: middle;
    transition: 120ms all linear;
}

input[type="radio"]:checked{
    border: 0.25em solid var(--blue);
}

/* col */
.choose-price .col, .col-big{
    border: var(--border-trasparency)
}

.card-header{
    padding: 8px 0;
    text-align: center;
    border-bottom: var(--border-trasparency);
}

.card-main, .card-footer{
    padding: 30px 20px;
}

.card-main h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-main .price{
    display: block;
    margin-bottom: 10px;
}

.card-main .price{
    font-weight: 700;
}

.plane span:last-child{
    opacity: .9;
    display: inline-block;
    margin-bottom: var(--to-items-px);
}

.card ul li{
    display: flex;
    align-items: baseline;
    margin-bottom: 1em;
    gap: 5px;
}

.card-main ul{
    margin-bottom: var(--to-items-px);
}

.buy button{
    width: 100%;
}

.buy span{
    display: inline-block;
    padding: 2em 0;
    border-bottom: var(--border-trasparency);
    margin-bottom: 2em;
}

.buy>a{
    color: var(--blue);
}

.card-footer h3{
    font-size: 1rem;
}

.card-footer ul li i{
    color: var(--blue);
    margin: 20px 0;
}

.col-big .card-plane .card-main p{
    font-weight: 700;
    margin-bottom: var(--to-items-px);
}
/* /col */

/* /Section-Plane */

/* Section-Partners */
.partners-row .col-40{
    padding-top: var(--to-items);
    padding-left: var(--to-items);
}

.partners-row .col-40 p{
    margin: 1.5em 0;
}

.partners-row .col-40 button{
    background-color: white;
    border: 1px solid black;
    font-size: 1rem;
}
/* /Section-Partners */

/* Section-feature */
#feature{
    margin-top: var(--to-sections);
    margin-bottom: var(--to-sections);
}

#feature h2{
    font-size: 2.3rem;
    margin-bottom: var(--to-items-px);
}

.card-info h3{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
/* /Section-feature */

/* Section-Companies */
.team-title h2{
    font-size: 2.2rem;
    margin-bottom: var(--to-items-px);
}

.team-col{
    width: calc(100% / 3);
    margin-top: var(--to-sections);
}

.central-col{
    background-color: var(--off-white);
    padding: 2em;
    overflow: auto;
}

.central-col .central-img img{
    width: 50%;
    margin-bottom: var(--to-items);
}

.central-col p{
    margin-bottom: var(--to-items);
}

hr{
    width: 20%;
    opacity: .3;
    margin-bottom: var(--to-items);
}

/* boxes */
.team-square{
    width: 50%;
    position: relative;
}

.team-square::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

.square-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square-img img{
    filter: invert(1);
}

.green{
    background-color: var(--green);
    border: 20px solid var(--light-green);
}

.bordeaux{
    background-color: var(--bordeaux);
}

.sky-blue{
    background-color: var(--sky-blue);
}

.orange{
    background-color: var(--orange);
}

.red{
    background-color: var(--red);
}

.light-blue{
    background-color: var(--light-blue);
}

.dark-blue{
    background-color: var(--dark-blue);
}

.yellow{
    background-color: var(--yellow);
}
/* /boxes */


.cta-section{
    background-color: var(--light-blue);
    color: var(--bordeaux);
    padding: 5em 0;
    font-size: 1.5rem;
}

.cta-section .col-40 {
    text-align: right;
}

.cta-section .col-40 button{
    background-color: white;
}
/* /Section-Companies */

/* Section-faq */
.faq{
    margin: 10em 0;
}

.faq h2{
    font-size: 2rem;
    margin-bottom: 1.5em;
}

.questions{
    font-size: .9rem;
    padding: 30px 0;
   
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.first{
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.answers, .fa-chevron-up{ 
    display: none;
}

.answers{
    margin-top: .5em;
}

/* faq-hover */
.questions:hover .answers{
    display: inline-block;
}

.questions:hover .fa-chevron-up{
    display: inline-block;
}

.questions:hover .fa-chevron-down{
    display: none;
}
/* /faq-hover */
/* /Section-faq */
/* /MAIN */

/* FOOTER */
footer{
    background-color: black;
    color: white;
    padding: 8em 0 2em;
}

footer .footer-list ul{
    margin: var(--to-items) 0 var(--to-sections);
}

footer .footer-list li{
    margin-bottom: 1em;
}

footer .footer-list h4{
    font-size: 1.7rem;
}

.lenguage{
    display: inline-block;
    font-size: .9rem;
    opacity: .7;
    border-top: 1px solid white;
    padding-top: 2em;
    cursor: pointer;
}

/* /FOOTER */